<div id="fullpage" layout="column">
  <div class="section" flex layout="row">
    <a class="anchor" id="bio"/>
    <div class="section-view" ui-view="bio" flex="100"></div>
  </div>

  <div class="section experienceSection" flex layout="row">
    <a class="anchor" id="experience"/>
    <div class="section-view" ui-view="experience" flex="100"></div>
  </div>

  <div class="section skillsSection" flex layout="row">
    <a class="anchor" id="skills"/>
    <div class="section-view" ui-view="skills" flex="100"></div>
  </div>

  <div class="section detailsSection" flex layout="row">
    <a class="anchor" id="details"/>
    <div class="section-view" ui-view="details" flex="100"></div>
  </div>
</div>
