<div class="content" layout="column" layout-align="start center" flex>
  <!--<div layout="row">
    Let's keep in touch!
  </div>-->
  <div layout="row" class="thumbnail-container" layout-align="space-around center">
    <div>
      <a onclick="window.open(this.href,'_blank'); return false;"
         href="mailto:rj.pepillo@yahoo.com">
        <img src="../../assets/images/footer/yahoomail icon.png" class="thumbnail">
      </a>
    </div>
    <div>
      <a onclick="window.open(this.href,'_blank'); return false;"
         href="http://www.facebook.com/rand.access.mem">
        <img src="../../assets/images/footer/facebook icon.png" class="thumbnail">
      </a>
    </div>
    <div>
      <a onclick="window.open(this.href,'_blank'); return false;"
         href="https://ph.linkedin.com/in/jann-ram-pepillo-899744113">
        <img src="../../assets/images/footer/linkedin icon.png" class="thumbnail">
      </a>
    </div>
  </div>
  <div layout="row">
    © RJ Pepillo
  </div>

</div>
