<!DOCTYPE html>
<!--suppress HtmlUnknownAttribute -->
<div layout="row" layout-xs="column" layout-align="center center" class="page-header">
  <span flex="5"></span>
  <div flex layout="row" layout-align="space-between center">
    <h1 class="no-margin">INSERT HEADER HERE</h1>
  </div>
  <span flex="5"></span>
</div>
<hr class="no-bottom-margin">

<md-progress-linear md-mode="indeterminate" ng-show="screenControllerAs.loading"></md-progress-linear>

<md-content layout="row" layout-align="center start">

</md-content>


